body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,115px);
    grid-template-rows: repeat(5,100px);
    place-content: center;
}

div{
    background-color: yellow;
    border: thin solid black;
}

#sayi1{
    background-color: black;
    grid-column: 3/4;
    grid-row: 1/2;
}

#sayi2{
    background-color: rgba(58, 28, 10, 0.952);
    grid-column: 2/3;
    grid-row: 2/3;
}

#sayi3{
    background-color: rgba(58, 28, 10, 0.952);
    grid-column: 3/4;
    grid-row: 2/3;
}

#sayi4{
    background-color: rgba(58, 28, 10, 0.952);
    grid-column: 4/5;
    grid-row: 2/3;
}

#sayi5{
    background-color: green;
    grid-column: 1/2;
    grid-row: 3/4;
}

#sayi6{
    grid-column: 2/3;
    grid-row: 3/4;
}

#sayi7{
    grid-column: 3/4;
    grid-row: 3/4;
}

#sayi8{
    grid-column: 4/5;
    grid-row: 3/4;
}

#sayi9{
    background-color: green;
    grid-column: 5/6;
    grid-row: 3/4;
}

#sayi10{
    grid-column: 3/4;
    grid-row: 4/5;
}

.sayi{
    background-color: green;
    grid-row: 4/5;
}

.sayi11{
    background-color: green;
    grid-row: 5/4;
}